---
import { ClientRouter } from 'astro:transitions'
import './src/styles/global.css'
const {title} = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="text-white m-0 grid place-content-center p-20  bg-[#13151a]">
		<div class="container">
			<slot />
		</div>
	</body>
</html>

